*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width:100%;
}
.header ul{
    width:100%;
    display: flex;
    text-align: right;
    float:right;
}
.header ul li{
    list-style-type: none;
    float: left;
    line-height: 40px;
    padding: 20px 10px;
}
.header ul li a{
    text-decoration: none;
    font-size:18px;
    color: #005082;
}
.main{
    padding-left: 120px;
    padding-right: 120px;
}
.main .heading{
    text-align:center;
    padding-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d1cebd;
}
.main .heading .Title{
    font-size: 1.8em;
}
.main .mid{
    padding-top:80px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d1cebd;
}
.main .end{
    padding-top: 20px;
    font-size:18px;
    color: gray;
}
