.main .method{
    padding-top:30px;
    padding-bottom: 20px;
}
main .method p{
    word-spacing: 10px;
    font-size: 20px;
}
.steps{
    padding:10px;
}
ol{
    margin: 0px;
    padding: 0px;
}
ol li{
    font-size:17px;
    word-spacing: 10px;
    padding-top:5px;
    padding-bottom: 5px;
}
ul li{
    font-size:17px;
    word-spacing: 10px;
    padding-top:5px;
    padding-bottom: 5px;
}
p{
    font-size:18px;
    padding-top: 10px;
    word-spacing: 5px;
}