*{
    margin: 0px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr{
    padding: 0px;
    border: solid 3px #000;
    color: #000;
}
.header{
    padding: 20px;
    text-align: center;
}
.header h1{
    font-weight: 600;
}
.UserDetail{
    padding:20px;
}

.Objective{
    padding: 20px;
}
.personalprofile table
{
    padding: 10px;
}

.Education table{
    border: 1px solid #000;
    
}
.Education table tr td,th{
    border: 1px solid #000;
    padding: 5px;
}
.Declaration
{
    padding: 10px;
    padding-right: 40px;
}
.Declaration p{
    padding-top: 10px;
    text-align: right;
}